workflow.json
{
  "name": "Linkedin Commenting Ai",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        112
      ],
      "id": "eeda6e51-d4da-4c80-a5ba-6aa423067013",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Linkedin AutoComment",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "tbl27zrvSJUwPNeGo",
          "mode": "list",
          "cachedResultName": "Profiles",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/tbl27zrvSJUwPNeGo"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        208,
        112
      ],
      "id": "eaaf6288-59dd-4b26-947b-8eb8bde37de4",
      "name": "Search records",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Linkedin commenting bot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        432,
        112
      ],
      "id": "602d082e-64be-4222-bc07-e10cde595625",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "LQQIXN9Othf8f7R5n",
          "mode": "list",
          "cachedResultName": "Profile Posts Scraper for LinkedIn [No Cookies] (apimaestro/linkedin-profile-posts)",
          "cachedResultUrl": "https://console.apify.com/actors/LQQIXN9Othf8f7R5n/input"
        },
        "customBody": "={\n    \"limit\": 2,\n    \"username\": \"{{ $json.Name }}\"\n}",
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        656,
        32
      ],
      "id": "de4f43ee-ebc4-4781-9c89-71ac51acce69",
      "name": "Run an Actor",
      "credentials": {
        "apifyOAuth2Api": {
          "id": "YOUR_APIFY_CREDENTIAL_ID",
          "name": "Apify OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "options": {},
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        880,
        32
      ],
      "id": "2dd76a91-c510-4a51-9c6d-d60d39447c59",
      "name": "Get dataset items",
      "credentials": {
        "apifyOAuth2Api": {
          "id": "YOUR_APIFY_CREDENTIAL_ID",
          "name": "Apify OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Linkedin AutoComment",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "tblUemGgAsXrY87yH",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/tblUemGgAsXrY87yH"
        },
        "filterByFormula": "={URN}=\"{{ $json.urn.activity_urn }}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1104,
        32
      ],
      "id": "62800726-07d3-4cea-8e6f-76e0afa08368",
      "name": "Search records1",
      "alwaysOutputData": true,
      "credentials": {
        "airtableOAuth2Api": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Linkedin commenting bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "38455a6c-92f5-4957-a59e-6ac6230e6c6a",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1328,
        32
      ],
      "id": "6b079b66-397b-495b-a72a-b640150e3850",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        656,
        -160
      ],
      "id": "58e7ee8a-9c27-4611-b61e-0b157f3d7dc3",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8ec5f7b-cc79-4406-8db9-68545abbb011",
              "name": "username",
              "value": "={{ $('Get dataset items').first().json.author.username }}",
              "type": "string"
            },
            {
              "id": "0e7c6594-dd96-4032-b661-12ba09c10ecf",
              "name": "post",
              "value": "={{ $('Get dataset items').first().json.text }}",
              "type": "string"
            },
            {
              "id": "107c6578-1f6f-451b-9357-e785d81d0ee1",
              "name": "url",
              "value": "={{ $('Get dataset items').first().json.url }}",
              "type": "string"
            },
            {
              "id": "0197cd26-ac55-437a-bb23-3b4445b60296",
              "name": "urn",
              "value": "={{ $('Get dataset items').first().json.urn.activity_urn }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        32
      ],
      "id": "2b388154-fdfb-4d02-a1cd-b924ac2e087e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2,
              "triggerAtMinute": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        432
      ],
      "id": "5c25db6a-f5cd-47e2-9041-e9941ce25249",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Linkedin AutoComment",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "tblUemGgAsXrY87yH",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/tblUemGgAsXrY87yH"
        },
        "filterByFormula": "AND({Reply}=\"\", {Status}=\"New\")",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        208,
        432
      ],
      "id": "96c0228c-ef71-4a5c-8665-8bed0e984f4d",
      "name": "Search records2",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Linkedin commenting bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Linkedin AutoComment",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "tblNQENvXlyZxtwDF",
          "mode": "list",
          "cachedResultName": "Brand",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/tblNQENvXlyZxtwDF"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        432,
        432
      ],
      "id": "1f40c1ba-7a92-4dfa-8601-f98b14fe4c08",
      "name": "Search records3",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Linkedin commenting bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Prompt to respond to: {{ $('Search records2').item.json.Post }}\n\nAdditional tone of voice guidelines: {{ $('Search records3').first().json['Tone of Voice'] }}\n\nResponse can be no more than 300 characters.",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI agent replying as a real person to LinkedIn posts. Write replies that sound like a sharp, trusted friend — confident, human, and curious. Professional but warm, like you're talking to a friend. Respond to the overall theme and topic. Do not get overly technical. Write at a 6th grade level. Do not use semicolons or em dashes.\n\nFramework (ACA + I + Warm Question)\n\nAcknowledge: Spot and affirm the core insight or energy in the post.\n\nContext: Add a punchy reframe, nuance, or perspective that sharpens the idea (Hormozi-style clarity, vibe marketing style). Example openers: \"It's actually insane how...\" or \"I'm honestly pretty surprised that...\"\n\nOptional Quick I: Drop in a short lens from your own perspective. Example: \"I've noticed this too,\" \"I'm testing this right now,\" \"I used to run into this myself.\"\n\nAction: Leave a practical takeaway or sharper lens — something they can use now.\n\nQuestion: End with a natural, peer-to-peer question that invites conversation (inclusive, curious, not teacher-to-student).\n\nVoice and Tone:\n- Friendly, approachable, conversational. Not corporate, not robotic.\n- Relatable, emotionally intelligent, community-first.\n- No jargon, just sharp insight and action.\n- Strategic but human, future-oriented.\n\nRules:\n- No emojis. No hashtags unless absolutely critical.\n- No semicolons or em dashes.\n- Never say \"game changer\" or \"here's the kicker.\"\n- Strong openings only. Do not waste the first 5 words.\n- Never use generic praise like \"Great post.\" Show you understood it.\n- Keep under 300 characters.\n- Always end with a question that feels like continuing a conversation, not assigning homework.\n\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        656,
        432
      ],
      "id": "3dafae6c-beb5-4d8b-8f8a-2aeb6fabf426",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        736,
        656
      ],
      "id": "ea0b73c0-06e3-4f7e-9ce2-b421920bb478",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR_UNIPILE_DSN/api/v1/posts/{{ $('Search records2').item.json.URN }}/comments",
        "sendHeaders": true,
        "specifyHeaders": "=keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "YOUR_UNIPILE_API_KEY"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "YOUR_UNIPILE_ACCOUNT_ID"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        432
      ],
      "id": "79f525c6-1631-43f7-9752-076971570fbc",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Linkedin AutoComment",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "tblUemGgAsXrY87yH",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/tblUemGgAsXrY87yH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Search records2').item.json.id }}",
            "Reply": "={{ $('Basic LLM Chain').item.json.text }}",
            "Status": "Responded"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Profile",
              "displayName": "Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reply",
              "displayName": "Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Responded",
                  "value": "Responded"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PostURL",
              "displayName": "PostURL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URN",
              "displayName": "URN",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Go to Post",
              "displayName": "Go to Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1456,
        336
      ],
      "id": "e3df7e9f-4a62-4659-9e94-922285707c43",
      "name": "Update record",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Linkedin commenting bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Linkedin AutoComment",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "tblUemGgAsXrY87yH",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/tblUemGgAsXrY87yH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Profile": "={{ $json.username }}",
            "Post": "={{ $json.post }}",
            "PostURL": "={{ $json.url }}",
            "URN": "={{ $json.urn }}",
            "Status": "New"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Profile",
              "displayName": "Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reply",
              "displayName": "Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Responded",
                  "value": "Responded"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PostURL",
              "displayName": "PostURL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URN",
              "displayName": "URN",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Go to Post",
              "displayName": "Go to Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1776,
        112
      ],
      "id": "fc56a172-db9a-4e38-845e-f12c58f66a0c",
      "name": "Create a record",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Linkedin commenting bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "de6b1e71-c27f-491c-b99d-8c3f3936d079",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1232,
        432
      ],
      "id": "9271637c-98fc-482c-9209-08332ff0a1be",
      "name": "If1"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Linkedin AutoComment",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "tblUemGgAsXrY87yH",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/tblUemGgAsXrY87yH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Failed",
            "id": "={{ $('Search records2').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Profile",
              "displayName": "Profile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reply",
              "displayName": "Reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Responded",
                  "value": "Responded"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PostURL",
              "displayName": "PostURL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URN",
              "displayName": "URN",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Go to Post",
              "displayName": "Go to Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1456,
        528
      ],
      "id": "b77ced52-3f96-4a33-bfcb-12ff5dd10d3a",
      "name": "Update record1",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Linkedin commenting bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Search records2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records2": {
      "main": [
        [
          {
            "node": "Search records3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a4dd44ea-6cac-484b-b02c-f525f3ecaf0f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4716f6569db35644d1587a9b861e6088c7d464c4ea0e21c979f53bec10430a1"
  },
  "id": "aXgEnivjjFwLnrdi",
  "tags": []
}